@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'sans-serif';
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #1e65ff;
  padding: 10px;
}

header h1 {
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}